.DS_Store
Project_Anomaly_Detection/bottle/
Project_Anomaly_Detection/cable/
Project_Anomaly_Detection/capsule/
Project_Anomaly_Detection/carpet/
Project_Anomaly_Detection/grid/
Project_Anomaly_Detection/hazelnut/
Project_Anomaly_Detection/leather/
Project_Anomaly_Detection/metal_nut/
Project_Anomaly_Detection/pill/
Project_Anomaly_Detection/screw/
Project_Anomaly_Detection/tile/
Project_Anomaly_Detection/toothbrush/
Project_Anomaly_Detection/transistor/
Project_Anomaly_Detection/wood/
Project_Anomaly_Detection/zipper/
Project_Incendios/dataset/*
Project_Incendios/dataset_zip/*
Project_Anomaly_Detection/results/Patchcore/bottle/v0/images/*
Project_Anomaly_Detection/results/Patchcore/hazelnut/*
*/.ipynb_checkpoints/*
Project_Anomaly_Detection/openvino_cache/*
*.pyc
Project_RAG/backend/chroma.db/*
Project_RAG/data/processed_docs/_static_webpack-macros.json
Project_RAG/data/raw/*
*.ipynb_checkpoints
